!tansparency

URxvt*inheritPixmap:              true
URxvt*transparent:                true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading:30
URxvt.depth:25 
!URxvt.background: rgba:3f00/3f00/3f00/dddd

URxvt.scrollBar:                  false 
URxvt.font:   			          xft:DejaVu Sans Mono:regular:size=20
URxvt.internalBorder:		      15
URxvt.scrollBar_right: false

! Disable ctrl + shift (insert picture mode)
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common:        default,matcher,resize-font,clipboard,resize-font,url-select,keyboard-select

! Resize fonts
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show


URxvt.url-select.launcher:   firefox 
URxvt.url-select-underline:   true
URxvt.colorUL:                #80d3f9

URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.keysym.M-o:             perl:keyboard-select:activate

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.keysym.Control-V: eval:paste_clipboard
URxvt.keysym.Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.keysym.C-M-c: builtin-string:

URxvt.perl-ext-common: default

! color scheme

! special
!*.foreground:   #eceff1
!*.background:   #1c2028
!*.cursorColor:  #eceff1

! black
!*.color0:       #263238
!*.color8:       #919191

! red
!*.color1:       #ff9800
!*.color9:       #ed973f

! green
!*.color2:       #34f3a5
!*.color10:      #34f3a5

! yellow
!*.color3:       #ffc107
!*.color11:      #ffa000

! blue
!*.color4:       #031f9e
!*.color12:      #03a9f4

! magenta
!*.color5:       #ff5a92
!*.color13:      #ef5b9c

! cyan
!*.color6:       #3ad4c5
!*.color14:      #3ad4c5

! white
!*.color7:       #cfd8dc
!*.color15:      #eceff1

!neo theme
! special
 *.foreground:   #eede19
 *.background:   #171717
 *.cursorColor:  #eede19

!  black
 *.color0:       #171717
 *.color8:       #38252c

! red
*.color1:       #d81765
*.color9:       #ff0000

! green
*.color2:       #97d01a
*.color10:      #76b639

! yellow
*.color3:       #ffa800
*.color11:      #e1a126

! blue
*.color4:       #16b1fb
*.color12:      #289cd5

! magenta
*.color5:       #ff2491
*.color13:      #ff2491

! cyan
*.color6:       #0fdcb6
*.color14:      #0a9b81

! white
*.color7:       #ebebeb
*.color15:      #f8f8f8
 
